.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.cardWrapper{
    margin-top: 18px;
}
.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.toggleText{
    color:rgb(149,241,149);    
    cursor: pointer;
}